body {
    font-family: 'Avenir', sans-serif;
    margin-top:50px;
  }
  

.redditPostContainer{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.redditPostBottomContainer{
    display:flex;
    flex-direction:row;
    margin-bottom: 20px;
}

.comments{
    margin-right:30px;
}